body {
    background-color: #5b5b5b;
} 

.name {
    padding-left: 5%;
    font-size: 1.5rem;
}

.bg-lblue {
    background-color: #d0e8f2;
    border-color: #bbbbbb;
    border-width: medium;
    opacity: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: none;
    background-image: none;
    color: red;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}

.carousel-indicators-dot li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators-dot .active {
    width: 5px;
    height: 5px;
    margin: 10px;
    background-color: white;
}

.text-size {
    font-size: x-large;
}

.width-40 {
    width: 100px;
}


.vertical-menu {
    width: 40px;
    /* Set a width if you like */
}

.vertical-menu a {
    /* background-color: #eee; */
    /* Grey background color */
    color: black;
    /* Black text color */
    /* display: block; */
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    /* background-color: #ccc; */
    background-color: #4CAF50;

    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50;
    /* Add a green color to the "active/current" link */
    color: white;
}

div.fixed {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    right: 53.5%;
}

.bottom-fixed {
    position: relative;
    top: -100px;
    right: -100px;
}

.phone:hover .visibility-none {
    visibility: visible;
}

@media screen and (max-width: 500px) {
    div.fixed {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 0;
        right: 67.0%;
    }
}

@media screen and (max-width: 768px) {

    div.fixed {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 0;
        right: 60.0%;
    }
}